@font-face {
    font-family: 'HanSolo';
    src: url('../fonts/HanSolo/HanSolo.ttf');
}

@font-face {
    font-family: 'FiraSans-Black';
    src: url('../fonts/FiraSans/FiraSans-Black.ttf');
}


@font-face {
    font-family: 'DockerOne.ttf';
    src: url('../fonts/DockerOne/DockerOne.ttf');
}