$teal-lighten: #88C5CC;
$black: #333;
$red: #CC584C;
$main-color: #01579B;

$baseColor: #398B93;

$transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

$box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                        0px 1px 18px 0px rgba(0, 0, 0, 0.12);