@import '../cosmetics/vars';
@import "../cosmetics/fonts";

$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;


* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $main-color;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .3);
  height: 78px;

  .logotype {
    display: flex;
    width: 120px;
    min-width: 120px;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease-out;
    &:hover {
      transform: rotate(45deg);
      transition: all .5s ease-out;
    }
  }
  .header-worker {
    color: white;
    margin-right: 40px;
  }
}

.table-dashboard {
  display: flex;
  justify-content: space-between;
}

.table-dashboard-btn {
  border: 1px solid #d8d2d2;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-left: 20px;
  border-right: 5px;

  .btn-sort-table {
    display: flex;
    flex-direction: column;

    .btn {
      transition: $transition;
      height: 20px;
      border-radius: 5px;
      border: none;
      font-size: 15px;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                   0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      background: #cc584c;
      color: white;
      &:hover {
        background: darken(#cc584c, 5);
      }

      .fa-sort-alpha-up:before {
        padding-right: 5px;
      }
    }

    .btn-sort_title {
      margin-bottom: 5px;
    }
  }

  .btn-excel {
    transition: $transition;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    background-image: url("E:/Work/Projects/diploma-project/project/frontend-app/src/static/img/excel.png");
    background-repeat: no-repeat;
    background-color: #388E3C;
    background-size: 30px 34px;
    background-position: 4px 6px;
    width: 3em;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    &:hover {
      background-color: lighten(#388E3C, 2);
    }
  }
  * {
    cursor: pointer;
  }
}

.wrapper {
  display: flex;
  flex-grow: 1;

  .sidebar {
    max-width: 213px;
    background-color: #fff;
    bottom: 0;
    font-size: 16px;
    position: fixed;
    padding: 74px 0 40px;
    top: 0;
    z-index: 3;
    border-right: 2px solid $main-color;
    box-shadow: 10px 4px 27px -15px rgba(0, 0, 0, 0.7);

    .sidebar-list {
      flex-shrink: 1;
      flex-grow: 0;
      flex-basis: 300px;
      min-width: 200px;
      display: flex;

      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      width: 100%;

      .sidebar-item {
        display: flex;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all .1s ease-out;

        span {
          padding-left: 10px;
        }

        .active {
          background-color: lighten($color: $main-color, $amount: 10);
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-left: 0;
          padding-right: 10px;
          width: 100%;
          .fas {
            color: white;
            padding-left: 8px;
          }
        }
        .fas {
          color: $main-color;
        }
        &:hover {
          background-color: lighten($color: $main-color, $amount: 10);
          transition: all .1s ease-out;
          a, .fas {
            color: white;
          }
        }

        a {
          color: #323232;
          font-size: 20px;
          margin-left: 10px;
          display: flex;
          font-family: 'FiraSans-Black', 'Aria', serif;
          font-weight: bold;
        }
      }
    }
  }
}

.content {
  width: 100%;
  padding: 4em 0 0 13em;
  background-color: #eeeeee;

  .feel-grid {
    padding: 45px;
  }
  img {
    border-radius: 50%;
    height: $imageSmall;
    width: $imageSmall;
  }

  .table-users {
    border: 1px solid darken($baseColor, 5%);
    border-radius: $borderRadius;
    box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.10);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 100em;
  }

  table {
    width: 100%;

    td, th {
      color: darken($baseColor, 10%);
      padding: $padding;
    }

    td {
      text-align: center;
      vertical-align: middle;

      &:last-child {
        font-size: 0.95em;
        line-height: 1.4;
        text-align: left;
      }
    }

    th {
      background-color: lighten($baseColor, 50%);
      font-weight: 300;
    }

    tr {
      &:nth-child(2n) {
        background-color: white;
      }
      &:nth-child(2n+1) {
        background-color: lighten($baseColor, 55%)
      }
    }
  }

  .table-btn {
    width: 36px;
    padding: 0;
    font-size: 0.875rem;
    min-width: 0;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background: lighten(rgba(147, 206, 222, 1), 7);
    }
  }

  .table-btn-edit * {
    color: green;
  }

  .table-btn-delete {
    color: red;
  }

  @media screen and (max-width: 700px) {
    table, tr, td {
      display: block;
    }

    td {
      &:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: $imageBig;
      }

      &:not(:first-child) {
        clear: both;
        margin-left: $imageBig;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;

        &:before {
          color: lighten($baseColor, 30%);
          content: '';
          display: block;
          left: 0;
          position: absolute;
        }
      }
    }

    tr {
      padding: $padding 0;
      position: relative;
      &:first-child {
        display: none;
      }
    }
  }

  .header-table {
    margin: 0 auto;
    width: 3em;
  }

  @media screen and (max-width: 500px) {
    .header-table {
      background-color: transparent;
      color: lighten($baseColor, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    img {
      border: 3px solid;
      border-color: lighten($baseColor, 50%);
      height: $imageBig;
      margin: 0.5rem 0;
      width: $imageBig;
    }

    td {
      &:first-child {
        background-color: lighten($baseColor, 45%);
        border-bottom: 1px solid lighten($baseColor, 30%);
        border-radius: $borderRadius $borderRadius 0 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
      }

      &:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;

        &:before {
          font-size: .8em;
          padding-top: 0.3em;
          position: relative;
        }
      }

      &:last-child {
        padding-bottom: 1rem !important;
      }
    }

    tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin: 0.5rem 0;
      padding: 0;
    }

    .table-users {
      border: none;
      box-shadow: none;
      overflow: visible;
    }
  }
}
