h1{
  font-family: "FiraSans-Black", "Arial", serif;
  color: $black;
}

.form_add-book{
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 2px 5px -2px rgba(0,0,0,0.75);
  width: 44em;

  .btn-toggle-form{
    width: 12em;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .form-group{
    padding: 10px;
    font-size: 1em;
    font-family: "Comic Sans MS", serif;

    .form-control{
      display: flex;
    }

    textarea{
      padding: 10px;
      width: 47.5em;
      border: 2px solid rgb(216, 210, 210);
      border-radius: 5px;
      background-color: #EEEEEE;
    }

    input[type="text"]{
      padding: 10px;
      width: 41.6em;
      border: 2px solid rgb(216, 210, 210);
      border-radius: 5px;
      background-color: #EEEEEE;
    }

    input[type="submit"]{
      width: 8.5em;
      height: 40px;
      background-color: $main-color;
      color: white;
      border-radius: 5px;
      border: 2px solid darken($main-color, 15);
      cursor: pointer;
      &:hover{
        background-color: darken($main-color, 15);
        color: white;
      }
      &:active{
        transform: translateY(2px);
      }
    }
    input[value]{
      font-size: 1em;
      font-family: "FiraSans-Black", "Arial", serif;
    }
  }

}