.container-register-form{
  width: 30em;
  height: 75vh;
  background: white;
  box-shadow: $box-shadow;
  border-radius: 10px;
}

.register-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group{
  padding: 10px;
  .input-register{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    height: 5vh;
  }

}